/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #000000;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  font-weight: 700;
}

.text-sidebar{
  font-weight: 600;
}

.sideNotification {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.picture {
  float: left;
  margin-right: 15px;
  margin-left: 32px;
  margin-bottom: 15px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.spacer {
  background-color: grey;
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
  height: 2px;
  align-items: center;
}

.notificari {
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}

.scris-notificari {
  margin-left: 100px;
}

.navbar-spacer {
  background-color: grey;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 2px;
}

.notification-spacer {
  background-color: grey;
  margin-top: -10px;
  margin-bottom: 30px;
  width: 100%;
  height: 2px;
}

.navbar {
  background: rgb(0,201,141);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sideNotification a {
  padding: 8px 8px 32px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

.sidenav a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sideNotification .closebtn {
  position: absolute;
  top: 0px;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .sideNotification {
    padding-top: 15px;
  }

  .sideNotification a {
    font-size: 18px;
  }
}

.text {
  margin-left: 30px;
  font-family: Montserrat;
  font-size: large;
}